<html ng-app="sampleApp" >
<head>
<title>Plain FireBase </title>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyD3KaFcYUPpBenXoiL8BKrBp9oMhV8pzp0",
    authDomain: "firetest-cb5ea.firebaseapp.com",
    databaseURL: "https://firetest-cb5ea.firebaseio.com",
    storageBucket: "",
  };
  firebase.initializeApp(config);
  // Get a reference to the database service
  var database = firebase.database();
</script>
<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.0.0/angularfire.min.js"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<!-- main -->
<script src="main.js"></script>


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="styles.css">
    

</head>


  <html ng-app="sampleApp">
  <body ng-controller="SampleCtrl">
    <ul>
      <li ng-repeat="message in messages">
        <!-- edit a message -->
        <input ng-model="message.text" ng-change="messages.$save(message)" />
        <!-- delete a message -->
        <button ng-click="messages.$remove(message)">Delete Message</button>
      </li>
    </ul>
    <!-- push a new message onto the array -->
    <form ng-submit="addMessage()">
      <input ng-model="newMessageText" />
      <button type="submit">Add Message</button>
    </form>
  </body>
</html>

  <!---
<div class="container">


<form role="form" id="fire" class="margin">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label for="pwd">Secret message:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>

<div class="users">
    <ul id="list">Users:
        
    </ul>

</div>
</body>

--->



</html>